@import url("css/bootstrap-social.css");
@import url("css/owl/owl.carousel.min.css");
@import url("fonts/font-awesome/css/font-awesome.min.css");

@font-face {
    font-family: 'Effra Std';
    src: url('fonts/effra_std_rg-webfont.ttf') format('woff'),
        url('fonts/effra_std_rg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}